<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Eddy Meet</title>
   <script>
      const ROOM_ID = "<%= roomId %>"
   </script>
   <link rel="icon" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fd9%2F12%2F09%2Fd91209340bdc005936c46323a62caaff.png&imgrefurl=https%3A%2F%2Fid.pinterest.com%2Fpin%2F660551470320356615%2F&tbnid=FtKm3A7ejL4zbM&vet=12ahUKEwi--NWoyIzrAhWp4jgGHQhSBbkQMygJegUIARDeAQ..i&docid=6XM0tL8kIwtA6M&w=500&h=513&q=png%20logos&client=ubuntu&ved=2ahUKEwi--NWoyIzrAhWp4jgGHQhSBbkQMygJegUIARDeAQ">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="/socket.io/socket.io.js" defer></script>
   <link rel="stylesheet" href="style.css">
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   <script src="script.js" defer></script>
   <style>
      #video-grid{
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
      }
      video{
         height: 300px;
         width: 400px;
         object-fit: cover;
         padding: 8px;
      }
   </style>
</head>
<body>

    
    <div class="main">
        <div class="main_left">
            <div class="main_videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="main_controls">
                <div class="main_controls_block">
                    <div class="main_controls_buttons main_mute_Button" onclick="muteUnmute()">
                        <i class="fas fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div class="main_controls_buttons main_play_Button" onclick="playStop()">
                        <i class="fas fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="main_controls_block">
                    <div class="main_controls_buttons">
                        <i class="fas fa-shield-alt"></i>
                        <span>Security</span>
                    </div>
                    <div class="main_controls_buttons">
                        <i class="fas fa-users"></i>
                        <span>Participants</span>
                    </div>
                </div>
                <div class="main_controls_block">
                    <div class="main_controls_buttons">
                        <i class="fal fa-portal-exit"></i>
                        <span class="leave-meeting">Leave Meeting</span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="main_right">
            <div class="main_header">
                <h6>Current ROOM ID : <%= roomId %></h6>
                <br>
                <h6 id ="currentName">Current User Name : <%= userName %></h6>
                <BUTTON onClick="ClipBoard()">Copy Joining Link</BUTTON>
                <br>
                <h6>Chat</h6>
            </div>
            <div class="main_chat_window">
                <ul class="messages">

                </ul>
            </div>
            <div class="main__message_container">
                <input type="text" id="chat_message" placeholder="type your message here!!">
            </div>
        </div>  
    </div>
    
</body>
</html>